:root {
    --color-water-undefined: #333333;
    --color-water-max: #1c2caa;
    --color-water-high: #1286b0;
    --color-water-normal: #32da56;
    --color-water-low: #ebad42;
    --color-water-min: #e33535;
}

.details{
    height:100vh;
    width: 100vw;
    margin: 0px;
}

.details-loading{
    align-content: center;
    width: 100%;
    height: 100%;
    display: flex;
}

.details-loading span{
    margin: auto;
}

.details-site-overview-table {
    border: #bbbbbb 1px solid
}

.details-site-overview-table td, 
.details-site-overview-table th{
    padding: 5px;
    border: #bbbbbb 1px solid;
}

.details-site-overview .name {
    color: var(--color-primary);
}

.details-site-overview-table th{
    background-color: #EEEEEE;
}

.details-content {
    padding: 10px;
}

.date-time-graph {
    height: 50vh;
    width: 100%;
}

.custom-tooltip {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.custom-tooltip .xlabel, .custom-tooltip .ylabel{
    font-weight: 800;
}

.custom-tooltip .xvalue, .custom-tooltip .yvalue{
    padding-left: 5px;
}

.recharts-label {
    font-weight: 800;
    fill: black;
    text-anchor: middle;
}

.section-title {
    padding: 10px;
    display: block;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}

@media screen and (max-width: 500px) {
    .date-time-graph{
        height: 50vh;
    }

    .recharts-label {
        font-size: 14px;
    }

    .recharts-legend-item-text {
        font-size: 14px;
    }
}
