:root {
    --color-water-max: #1c2caaaa;
    --color-water-high: #1286b0aa;
    --color-water-normal: #32da56aa;
    --color-water-low: #ebad42aa;
    --color-water-min: #e33535aa;
}

body, html {
    width: 100vw;
}

.details-loading{
    align-content: center;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.details-loading span{
    margin: auto;
}

.details-site-overview {
    margin: 10px;
}



.details-table td {
    background-color: #EEEEEE;
    padding: 5px;
}

.date-time-graph {
    height: 50vh;
    width: 100%;
    touch-action: none;
}

.custom-tooltip {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.custom-tooltip .xlabel, .custom-tooltip .ylabel{
    font-weight: 800;
}

.custom-tooltip .xvalue, .custom-tooltip .yvalue{
    padding-left: 5px;
}

.recharts-label {
    font-weight: 800;
    fill: black;
    text-anchor: middle;
}


